<launch>
    <!--
    Starting speech module
    -->
    <include file="$(find speech)/launch/parser.launch"></include>

    <!--
    Node for handling arm commands
    -->
    <node
        name="arm_control"
        pkg="controller"
        type="arm_control.py"
        output="screen"
        >
    </node>
</launch>
