<launch>
    <!--
    Starting speech module
    -->
    <include file="$(find speech)/launch/parser.launch"></include>

    <!--
    Node for handling base commands
    -->
    <node
        name="base_control"
        pkg="controller"
        type="base_control.py"
        output="screen"
        >
    </node>
</launch>
