<launch>

    <arg name="use_rosbot" default="true"/>
    <arg name="teach" default="true"/>
    <arg name="recognize" default="true"/>

    <include if="$(arg use_rosbot)" file="$(find rosbot_ekf)/launch/all.launch"/>

    <node pkg="find_object_2d" type="find_object_2d" name="find_object_2d">
        <remap from="image" to="/camera/rgb/image_raw"/>
        <param name="gui" value="$(arg teach)"/>
        <param if="$(arg recognize)" name="objects_path" value="$(find camera)/image_rec/"/>
    </node>

    <node pkg="camera" type="camera_controller_node" name="camera_controller" output="screen"/>

</launch>
